<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php">
  <coverage>
    <include>
      <directory>./src</directory>
    </include>
    <exclude>
      <directory>./src/Errors</directory>
      <file>./src/Api.php</file>
      <file>./src/ArrayableInterface.php</file>
      <file>./src/Collection.php</file>
      <file>./src/Entity.php</file>
      <file>./src/Request.php</file>
      <file>./src/Resource.php</file>
      <file>./src/PaymentPage.php</file>
      <file>./src/Webhook.php</file>
      <file>./src/Utility.php</file>
    </exclude>
  </coverage>
  <php>
    <!-- copy this file to phpunit.xml and replace with your API key to run tests -->
    <!-- Also uncomment the following two lines-->
    <!--<server name="KEY_ID" value="" />
        <server name="KEY_SECRET" value="" />
        -->
  </php>
  <testsuites>
    <testsuite name="default">
      <directory>./non_composer_tests/</directory>
    </testsuite>
    <testsuite name="default">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
